body{
text-align: center;
margin: 50px 10px;
padding: 0px;
background-image: url(..//CSS/glitter.png);
background-attachment: fixed;
background-size: cover;
}

table,th,td{
margin-left: 34%;
border:  none;
border-collapse: collapse;
padding: 10px;
table-layout: auto;
background-color: none;
font-size: 100%;
color:  rgb(90, 14, 61);
}

caption{
font-size: 150%;  
font-weight: bold;  
color: rgb(90, 14, 61);
}

ul{
list-style-type: disc;
}

p{
font-family: Arial, Helvetica, sans-serif;
font-size: 150%;
color:  rgb(90, 14, 61);
}

h1{
font-size: 300%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(90, 14, 61);
background-color: rgba(248, 227, 235, 0.598);
}

h2{
font-size: 200%;
color: rgb(90, 14, 61);
text-align: center;
}

label{
    font-size: 200%;
    color: rgb(90, 14, 61);
}

form{
    background-color: rgba(248, 227, 235, 0.765);
    border: 4px dashed  rgb(90, 14, 61);
    color: rgb(90, 14, 61); 
    display: inline-block;
    margin: 20px;
    padding: 35px;
}

button {
    background-color: rgb(90, 14, 61)  ;
    color:  white;
    border-color: #f4e4ee;
    padding: 10px;
    margin:10px
    }

html {
    box-sizing: border-box;
  }
      
*, *:before, *:after {
    box-sizing: inherit;
 }
     
 .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

.card {
box-shadow: 0 4px 8px 0#f4e4ee;
margin: 8px;
background-color: rgba(248, 227, 235, 0.765);
}
      
      
.title {
color:  rgb(90, 14, 61);
}
      
      
.topnav {
    background-color: rgb(90, 14, 61);
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding:  20px 90px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #f4e4ee;
    color:  rgb(90, 14, 61)  ;
    ;
  }
  
  .topnav a.active {
    background-color: #f4e4ee;
    color: white;
  }  
     

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #f4e4ee;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(90, 14, 61);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f4e4ee;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.footer {
    background-color: rgba(248, 227, 235, 0.598);
    padding: 50px;
  }

  #movingImage {
    position: absolute;
    width: 250px; 
    height: 250px;    
    }

    .icon-container {
			display: flex;
			gap: 15px;
		}
		.icon {
			font-size: 24px;
			color: rgb(90, 14, 61);
			transition: color 0.1s;
		}
		.icon:hover {
			color: #f4e4ee;
		}